<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new Mars Stuff!</a>
            </p>
        </div>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-md-12'></div>

                <h2>Latest in Mars News: </h2>
                <br>
                <p class="text-center"> <b>{{ mars.article_title }}:</b> {{ mars.paragraph }}</p>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 big_box">
                <h2>Featured image: </h2>
                <img src="{{mars.image}}" alt="Featured Mars Image" />
            </div>
        </div>
    </div>



    <div class="container">
        <h3> Mars facts</h3>
        <table class="table table-striped">
            {{ mars.table_html|safe }}
    </div>


    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Mars Hemispheres</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ mars.hemispheres[0] ['img_url'] }}" alt="Mars Hemisphere1" style="width:100%">
                        <div class="caption">
                            <p>{{ mars.hemispheres[0] ['title'] }} </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ mars.hemispheres[1] ['img_url'] }}" alt="Mars Hemisphere1" style="width:100%">
                        <div class="caption">
                            <p>{{ mars.hemispheres[1] ['title'] }} </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ mars.hemispheres[2] ['img_url'] }}" alt="Mars Hemisphere1" style="width:100%">
                        <div class="caption">
                            <p>{{ mars.hemispheres[2] ['title'] }} </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ mars.hemispheres[3] ['img_url'] }}" alt="Mars Hemisphere1" style="width:100%">
                        <div class="caption">
                            <p>{{ mars.hemispheres[3] ['title'] }} </p>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>